$maxWidth                = 1280px

$backgroundColor         = #14191f
$mainColor               = #f33050
$darkerMainColor         = darken($mainColor, 15)
$darkColor               = #111214
$rightPaneGray           = #1d242e
$grayColor               = #767c85
$lightGrayColor          = #babdc6
$darkGrayColor           = #353944

$leftPaneSize            = 200px
$rightPaneSize           = 220px